.register-border {
	background: #47b7c5;
	width: 450px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	height: 600px;
}

.center-page {
	text-align="center";
	padding-top: 180px;
}

.register-field {
	display: block;
	margin: 10px;
	height: 40px;
	padding-top: 10px;
}

.input-field {
	width: 250px;
	padding: 6px;
	border-radius: 2px;
	float: right;
}

.button-group {
	text-align: center;
}

label {
	font-family: Arial, Helvetica, sans-serif;
	float: inline-start;
	margin-top: 5px;
}

button {
	background-color: #4caeaf;
	color: white;
	padding: 10px 15px;
	margin: 0px 8px;
	border: none;
	cursor: pointer;
	opacity: 0.9;
	box-shadow: 0px 0px 2px 2px #4a5d54;
}

button:hover {
	opacity: 1;
}
