<!DOCTYPE html>
<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
  </head>
  <body>
    <div class="navbar-container">
        <form action="{{url_for('search')}}" class="search-bar">
            <input type="text" class="search-input" name="searchinput" placeholder="Isaac Asimov">
            <button type="submit" class="search-btn">Search</button>
        </form>
        <a href="/home" class="nav-item">
          Home
        </a>
				<a href="/logout" class="nav-item">
              Logout
				</a>
    </div>
    <div id="content" class="content">{% block content %}{% endblock %}</div>
  </body>