<!DOCTYPE HTML>
<!-- Login page for users -->
<head>
<link rel="stylesheet" href="{{url_for('static', filename='css/auth.css')}}">
</head>

<div>
	<div class="border">
		<div class="center-page">
			<div class="header">
				<span>Login</span>	
			</div>
			<div class="input-field">
				<label for="username">Username</label>
				<input type="text" name="username">
			</div>

			<div class="input-field">
				<label for="password">Password</label>
				<input type="password" name="password">
			</div>

			<div class="button-group">
				<button type="submit" name="login" value="login">Login</button>
				<a href="/register">
					<button type="submit" 
							name="register" 
							value="register">Register
					</button>
				</a>
			</div>
		</div>
	</div>
</div>
