<!DOCTYPE HTML>
<!-- This html contains template for user registration page -->
<head>
	<link rel="stylesheet" href="{{url_for('static', filename='css/register.css')}}">
	<title>Register</title>
</head>

<form action="{{url_for('register_user')}}" method="post">
	<div class="register-border">
		<div class="center-page">
			<div class="register-field">
				<label for="username">Username</label>
				<input type="text" name="username" class="input-field">
			</div>

			<div class="register-field">
				<label for="password">Password</label>
				<input type="password" name="password" class="input-field">
			</div>

			<div class="register-field">
				<label for="confirm-password">Confirm Password</label>
				<input type="password" name="confirm-password" class="input-field">
			</div>

			<div class="button-group">	
				<button type="submit" name="register">Register</button>
				<a href="/login"><button type="button" name="cancel">Cancel</button></a>
			</div>
		</div>
	</div>
</form>
